.btn {
    display: inline-block;

    padding: 10px 20px;

    font-size: 1rem;

    border-radius: 5px;

    cursor: pointer;

    text-decoration: none;

    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #d3c9a0;

    color: white;
}

.btn-primary:hover {
    background-color: #009fd4;
}
