#navbar-search {
    width: 300px;
}

.navbar-brand {
    padding: 10px;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    margin-right: 15px;
    padding: 10px;
}

.navbar-collapse {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav .nav-link,
.form {
    margin-left: 10px;
}

.navbar .input-group {
    width: 100% !important;
}

.navbar .form-control {
    height: 40px;
    border-radius: 20px 0 0 20px;
    border-right: none;
    width: 100%;
}

.navbar .search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    max-width: 50%;
}

.navbar .btn-outline-success {
    border-radius: 0 20px 20px 0;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .btn-outline-success:hover {
    background-color: #d3c9a0;
    color: white;
}

.navbar .form-control:focus {
    box-shadow: 0 0 5px rgba(25, 135, 84, 0.5);
    border-color: #198754;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar-brand img {
    height: 110px;
    width: 110px;
}

.navbar-nav .nav-link {
    color: rgb(29, 25, 25);
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav {
    display: flex;
    align-items: center;
}
