{% extends "layout.html" %}

{% block title %}Create a list{% endblock %}

{% block main %}
<form action="{{ url_for('main.create_list') }}" method="POST">
    <label for="list_name">List Name:</label>
    <input type="text" id="list_name" name="list_name" required>
    
    <input type="hidden" id="moviesInput" name="movies">
    <input type="hidden" id="background_image" name="background_image">

    <label for="movies">Add Movie:</label>
    <ul id="selectedMovies">
        <li class="placeholder">No movies selected yet. Search and add movies above.</li>
    </ul>

    <input type="text" id="search" placeholder="Search for a movie..." oninput="searchMovies()">
    <div id="searchResults" class="dropdown-content"></div>
    
    <div id="backgroundOptions">
        {% set placeholder_url = url_for('static', filename='images/No-Image-Placeholder.svg') %}
        {% for movie in movies %}
        {% set backdrop_url = movie.backdrop_url if movie.backdrop_url else (movie.poster_url if movie.poster_url else placeholder_url) %}
        <div class="background-option" data-backdrop-url="{{ backdrop_url }}">
            <img src="{{ backdrop_url }}" alt="{{ movie.title }}" class="background-poster">
            <div class="selected-overlay">Selected</div>
            <button type="button" onclick="selectBackground('{{ backdrop_url }}')">Select as Background</button>
        </div>
        {% endfor %}
    </div>

    <button type="submit">Create List</button>
</form>
{% endblock %}


