<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popcorn Wagon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<main></main>
<footer>
    <p>Powered by</p>
    <a href="https://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
      <img
        src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
        alt="The Movie Database (TMDB)"
        width="100"
      />
    </a>
  </footer>
</body>
</html>