{% extends "layout.html" %} {% block title %}List Details{% endblock %} {% block
main %}
<div class="list-header">
    <h1>{{ list_name }}</h1>
    <p class="list-description">{{ list_description }}</p>
</div>

<div class="list-actions">
    <form action="{{ url_for('main.remove_list') }}" method="POST">
        <input type="hidden" name="listId" value="{{ listId }}" />
        <button type="submit" class="btn btn-danger">Remove List</button>
    </form>
    <form action="{{ url_for('main.recommendator') }}" method="POST">
        {% for movie in data %}
        <input type="hidden" name="movieId" value="{{ movie['id'] }}" />
        {% endfor %}
        <button type="submit" class="btn btn-success">
            Get Recommendations
        </button>
    </form>
</div>

{% if data %}
<div class="movie-grid">
    {% for movie in data %}
    <div class="card v4 tight">
        <div class="wrapper">
            <div class="image">
                <div class="poster">
                    <a
                        href="{{ url_for('main.movie_details', movieId=movie['id']) }}"
                        target="_blank"
                    >
                        {% if movie['poster_path'] %}
                        <img
                            src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
                            alt="{{ movie['title'] }}"
                            class="poster-image"
                            loading="lazy"
                        />
                        {% else %}
                        <img
                            src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg"
                            alt="No Image"
                            class="poster-image"
                            loading="lazy"
                        />
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="details">
                <div class="title">
                    <a
                        href="{{ url_for('main.movie_details', movieId=movie['id']) }}"
                        target="_blank"
                    >
                        <h2>{{ movie['title'] }}</h2>
                    </a>
                    <span class="release_date"
                        >{{ movie['release_date'] | format_date }}</span
                    >
                </div>
                <div class="overview">
                    <p>{{ movie['overview'][:250] }}...</p>
                </div>
            </div>
        </div>
        <form
            action="{{ url_for('main.remove_item') }}"
            method="POST"
            class="list-actions"
        >
            <input type="hidden" name="movieId" value="{{ movie['id'] }}" />
            <input type="hidden" name="listId" value="{{ listId }}" />
            <button type="submit" class="btn btn-danger">Remove Movie</button>
        </form>
    </div>
    {% endfor %}
</div>

{% with base_url=url_for('main.list_details', listId=listId), page=page,
total_pages=total_pages %} {% include 'includes/pagination.html' %} {% endwith
%} {% else %}
<p>No movies found.</p>
{% endif %} {% endblock %}
