{% extends "layout.html" %}

{% block title %}{{ movie['title'] }}{% endblock %}

{% block main %}
<h1>{{ movie['title'] }}</h1>
{% if movie['poster_path'] %}
<img 
    src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
    loading="lazy"
    alt="{{ movie['title'] }}" 
    class="poster-image"
>
{% else %}
<img 
    src="{{ url_for('static', filename='images/No-Image-Placeholder.svg') }}"
    alt="No Image" 
    class="poster-image" 
    loading="lazy"
>
{% endif %}
<p><strong>Overview:</strong> {{ movie['overview'] }}</p>
<p><strong>Release Date:</strong> {{ movie['release_date'] | format_date }}</p>
<p><strong>Rating:</strong> {{ movie['vote_average'] }}/10</p>
<a href="https://www.themoviedb.org/movie/{{ movie['id'] }}" target="_blank">View on TMDb</a>
    <form action="#" method="POST">
        <input type="hidden" name="add_watchlist" value="{{ movie['id'] }}">
        <button class="btn btn-primary" type="submit">Add to List</button>
    </form>
{% endblock %}







