{% extends "layout.html" %} {% block title %}{{ movie['title'] }}{% endblock %}
{% block main %}
<div class="movie-details-container">
    <div class="movie-content">
        <div class="movie-poster-info">
            <div class="poster">
                {% if movie['poster_path'] %}
                <img
                    src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
                    alt="{{ movie['title'] }}"
                    class="poster-image"
                    loading="lazy"
                />
                {% else %}
                <img
                    src="{{ url_for('static', filename='images/No-Image-Placeholder.svg') }}"
                    alt="No Image"
                    class="poster-image"
                    loading="lazy"
                />
                {% endif %}
            </div>
            <div class="movie-info">
                <h1>{{ movie['title'] }}</h1>
                <div class="metadata">
                    <span class="release-date"
                        >{{ movie['release_date'] | format_date }}</span
                    >
                    <span class="rating">{{ movie['vote_average'] }}/10</span>
                    <span class="runtime">{{ movie['runtime'] }} minutes</span>
                </div>
                <div class="genres">
                    {% for genre in movie['genres'] %}
                    <span class="genre">{{ genre['name'] }}</span>
                    {% endfor %}
                </div>
                <div class="user-interactions">
                    {% if current_user.is_authenticated %}
                    <form
                        action="{{ url_for('main.add_to_list') }}"
                        method="POST"
                        class="add-to-list"
                    >
                        <input
                            type="hidden"
                            name="movieId"
                            value="{{ movie['id'] }}"
                        />
                        <select name="listId" id="listSelect" required>
                            <option value="" disabled selected hidden>
                                -- Select a list --
                            </option>
                            {% for user_list in current_user.lists %}
                            <option value="{{ user_list.listId }}">
                                {{ user_list.list_name }}
                            </option>
                            {% endfor %}
                        </select>
                        <button
                            id="addButton"
                            class="btn btn-success"
                            type="submit"
                            disabled
                        >
                            Add to List
                        </button>
                    </form>
                    {% endif %}
                </div>
                <p class="overview">{{ movie['overview'] }}</p>
                <a
                    href="https://www.themoviedb.org/movie/{{ movie['id'] }}"
                    target="_blank"
                    class="tmdb-link"
                >
                    View Details on TMDb
                </a>
                {% if current_user.is_authenticated %}
                <div class="user-interactions">
                    <div class="like-dislike">
                        <i
                            id="like-icon"
                            class="fa fa-thumbs-up {% if user_movie_data and user_movie_data.liked == 1 %}active-like{% endif %}"
                            onclick="toggleLikeDislike('LIKE')"
                        ></i>
                        <i
                            id="dislike-icon"
                            class="fa fa-thumbs-down {% if user_movie_data and user_movie_data.liked == -1 %}active-dislike{% endif %}"
                            onclick="toggleLikeDislike('DISLIKE')"
                        ></i>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="user-interactions">
            {% if current_user.is_authenticated %}

            <section class="tags">
                <h4><bdi>Tags</bdi></h4>
                <ul>
                    {% for tag in tags %}
                    <li>
                        <a class="rounded" href="/search?q={{tag}}&page=1"
                            >{{ tag }}</a
                        >
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <form
                action="{{ url_for('main.add_to_tags') }}"
                method="POST"
                class="list-actions"
            >
                <input
                    type="hidden"
                    class="add-tag"
                    id="movieId"
                    name="movieId"
                    value="{{ movie.id }}"
                    required
                />
                <div class="mb-3">
                    <label for="tag" class="form-label">Add a Tag:</label>
                    <input
                        type="text"
                        class="add-tag"
                        id="tag"
                        name="tag"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary">Add Tag</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</div>
