{% extends "layout.html" %}

{% block title %}Recommendations{% endblock %}

{% block main %}
    <h2>Recommendations</h2>
    {% if recommended_movies %}
    <button id="recommend-button">Bu Listeye Göre Öneri Al</button>
    <div class="movie-grid">
        {% for movie in recommended_movies %}
            <div class="card v4 tight">
                <div class="wrapper">
                    <div class="image">
                        <div class="poster">
                            <a href="{{ url_for('main.movie_details', movieId=movie['id']) }}" target="_blank">
                                {% if movie['poster_path'] %}
                                    <img 
                                        src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" 
                                        srcset="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }} 500w,
                                                https://image.tmdb.org/t/p/w780{{ movie['poster_path'] }} 780w,
                                                https://image.tmdb.org/t/p/w1280{{ movie['poster_path'] }} 1280w"
                                        sizes="(max-width: 768px) 90vw, 33vw"
                                        loading="lazy"
                                        alt="{{ movie['title'] }}" 
                                        class="poster-image"
                                    >
                                {% else %}
                                    <img 
                                        src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg"
                                        alt="No Image" 
                                        class="poster-image" 
                                        loading="lazy"
                                    >
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="title">
                            <a href="{{ url_for('main.movie_details', movieId=movie['id']) }}" target="_blank">
                                <h2>{{ movie['title'] }}</h2>
                            </a>
                            <span class="release_date">{{ movie['release_date'] | format_date}}</span>
                        </div>

                        <div class="overview">
                            <p>{{ movie['overview'][:250] }}...</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No movies found.</p>
    {% endif %}
{% endblock %}
